---
import ToolCard from "../components/ToolCard.astro";
import "../global.css";

const tools = [
  { name: "Pecan", image: "/images/pecan.png", link: "/tools/pecan" },
  { name: "Locofy", image: "/images/locofy.png", link: "/tools/locofy" },
  { name: "Tabnine", image: "/images/tabnine.png", link: "/tools/tabnine" },
  { name: "Replit", image: "/images/replit.png", link: "/tools/replit" },
  { name: "V0", image: "/images/v0.png", link: "/tools/v0" },
  {name: 'ChatGPT', image: '/images/gpt.png', link: '/tools/chatgpt'}
];
---
<html lang="en">
  <head>
    <title>AI Coding Tools</title>
  </head>
  <body class="bg-gradient-to-br from-gray-900 via-gray-800 to-gray-600 flex flex-col min-h-screen antialiased text-white">
    <header class="sticky top-2 w-full h-14  flex items-center justify-left py-4">
      <!-- <h1 class="text-4xl font-bold">ESKO KESE</h1> -->
      <img src="images/logo.png" alt="Logo" class=" w-36 h-36 " />
    </header>
    
    <main class="flex flex-col items-center justify-center flex-grow">
      <h1 class="text-4xl font-bold mb-2">AI Coding Tools</h1>
      <div class="grid grid-cols-3 gap-8">
        {tools.map((tool) => (
          <ToolCard {...tool} />
        ))}
      </div>
     
    </main>
  </body>
</html>
